
html, body{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAABlBMVEUAKFkAKFjaPupOAAAAUklEQVR4nO3QQQ0AAAjEsMO/aUTwgJBWwbIEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+KG2A64ajGnIMQAD1e94ywAAAABJRU5ErkJggg==");
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  background-color: antiquewhite !important;
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.card{
  background-color: darkgrey !important;
  padding: 1.5em .5em .5em !important;
  border-radius: 2em !important;
  text-align: center !important;


}


.btn {
  color: white;
}

.modal-content{
  max-width: 30%;
  margin: auto;
}


.updateButton{
margin: 20px;
}
.updateButton{
margin: 20px;
}


.editButton {
  border-style: groove;
  border-color: #002859;
  border-radius: 6px;
  margin: 12px;
}

.deleteButton {
  border-style: groove;
  border-color: #002859;
  border-radius: 6px;
  margin: 40px;
}

.select{
  width: 222px;
}

.h1Party{
  color: darkgrey;
  text-align: center;
}


